{% extends "layout.html" %}
{% block content %}
  <div class="text-intro">
    <h2><b>Contact</b></h2>
  </div>
 <div class="columns features">
    <div class="one-third first">
      <h3><b>Manan Bhola</b></h3>
      <p>MS in Bioinformatics at Georgia Tech</p>
      <P><a href="https://www.linkedin.com/in/mannan-bhola/"class="active"><b>Linkedin</b></P>
    </div>
    <div class="one-third">
      <h3><b>Dinesh Ravinder Raju</b></h3>
      <P>MS in Bioinformatics at Georgia Tech</P>
      <p><a href="https://www.linkedin.com/in/dineshravindraraju/"class="active"><b>Linkedin</b></p>
    </div>
    <div class="one-third">
      <h3><b>Piyus Mohanty</b></h3>
      <P>MS in Bioinformatics at Georgia Tech</P>
      <p><a href="https://www.linkedin.com/in/piyus-mohanty/"class="active"><b>Linkedin</b></p>
    </div>

  </div>
{% endblock %}